{% extends 'base.html' %}
{% block content %}

{% if loginform is defined and not g.user.is_authenticated()%}
<div id="loginform">
    {% from "_formhelper.html" import render_field %}
    <form action="{{ url_for('login') }}" method="POST">
    {% for form in loginform %}
        {{ render_field(form) }}
    {% endfor %}
    </form>
</div>
{% elif g.user.is_authenticated() %}

    <span id="logout"><a href="{{ url_for('logout') }}">Logout</a></span>
    <h1>Willkommen zuhause, {{ g.user.name }}</h1>
    <h2>Heute habe ich...</h2>

    {% if taskform is defined %}
        {% from "_formhelper.html" import render_field %}
        <form action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data">
        {% for form in taskform %}
            {{ render_field(form) }}
        {% endfor %}
        </form>
    {% endif %}

    <h2>Was bisher geschah:</h2>
    <ul>
        <li>nichts</li>
        <li>gar nichts</li>
        <li>überhaupt nichts</li>
    </ul>
{% endif %}

{% endblock %}
